body {
    margin: 0;
}
.topnav {
    background-color:rgb(25, 50, 126);
    overflow: hidden;
    width: 100%;
    height: 3em;
}

.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 0.75em;
    text-decoration: none;
    font-size: 1em;
    text-shadow: 2px 2px black;
}
.topnav img {
    float: left;
    margin: 1ex;
    padding-right: 0.5em;
    width: 2em;
    height: 2em;
    max-width: 4ex;
}

.topnav p {
    float: left;
    color: whitesmoke;
    font-size: 2em;
    margin-top: 0.4ex;
}

.topnav-right {
    float: right; 
}

.twitter-body p {
    margin-top: 2.2vh;
    margin-left: 13vw;
    float: left;
    margin-right: 1vw;
}

.twitter-body input {
    margin-top: 2.2vh;
}

.twitter-dashboard-left {
    width: 70%;
    float: left;
}

.twitter-flex-container-dashboard {
    display: flex;
    align-content: flex-start;
    width: 71%;
    height: 100%;
    flex-flow: row wrap;
    margin-left: 1vw;
    position: relative;
    left: -5.5vw;
}

.twitter-person {
    width: 15vw;
    height: auto;
    text-align: center;
    border: 0.3vw solid rgb(129, 128, 128) ;
    border-radius: 3px;
    margin-top: 1vh;
    margin-right: 0.7vw;

}
.twitter-person input {
    width: 5vw;
    margin-top: 0.5vh;
}

.twitter-person img {
    width: 5vw;
    height: 7vh;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1vh;
}

.twitter-person p {
    margin-left: 23%;
    margin-top: 1.5vh;
    width: 60%;
}


.twitter-person:hover {
    border-color: rgb(43, 42, 42);
}

.twitter-dashboard-right {
    width: 30%;
    height: 100%;
    float: right;
}

.twitter-dashboard-right-flex-container {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    border: 0.3vw solid rgb(129, 128, 128) ;
    border-radius: 3px;
    width: 20vw;
    height: auto;
    margin-top: 7vh;
}

.twitter-dashboard-right-flex-container h3 {
    text-align: center;
    margin-top: 1vh;
}

.twitter-person-follower {
    margin-left: 2vw;
}




