body {
    margin: 0;
}
.topnav {
    background-color:rgb(101, 135, 240);
    overflow: hidden;
    height: 3em;
    max-width:1564px;
}

.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 0.75em;
    text-decoration: none;
    font-size: 1em;
    text-shadow: 2px 2px black;
}
.topnav img {
    background-color:rgb(101, 135, 240);
    float: left;
    margin: 1ex;
    padding-right: 0.5em;
    width: 2em;
    height: 2em;
    max-width: 4ex;
}

.topnav p {
    float: left;
    color: whitesmoke;
    font-size: 2em;
    margin-top: 0.4ex;
}

.topnav-right {
    float: right; 
}

.twitter-body p {
    margin-top: 2.2vh;
    margin-left: 13vw;
    float: left;
    margin-right: 1vw;
}

.twitter-body input {
    margin-top: 2.2vh;
}

.twitter-flex-container-dashboard {
    display: flex;
    align-content: flex-start;
    width: 60%;
    height: 100%;
    flex-flow: row wrap;
    margin-left: 1vw;
}

.twitter-person {
    width: 10vw;
    height: 20vh;
    border-style: solid;
    border-color: rgb(80, 78, 78);

}
.twitter-person input {
    margin-left: 20%;
    margin-top: 1vh;
}

.twitter-person img {
    width: 5vw;
    height: 7vh;
    padding-left: 20%;
    padding-top: 1vh;
}


.twitter-person:hover {
    border-color: rgb(43, 42, 42);
}




